@using Application.DTOs.Enums
@if (ViewBag.CurrentSortBy == ViewBag.ColumnName && ViewBag.CurrentSortOrder == SortOrderEnum.Ascending.ToString())
{
	<a href="/products?searchBy=@ViewBag.CurrentSearchBy&searchString=@ViewBag.CurrentSearchString&sortBy=@(ViewBag.ColumnName)&sortOrder=@(nameof(SortOrderEnum.Descending))">@ViewBag.ColumnDisplayName</a>
}
else if (ViewBag.CurrentSortBy == ViewBag.ColumnName && ViewBag.CurrentSortOrder == SortOrderEnum.Descending.ToString())
{
	<a href="/products?searchBy=@ViewBag.CurrentSearchBy&searchString=@ViewBag.CurrentSearchString&sortBy=@(ViewBag.ColumnName)&sortOrder=@(nameof(SortOrderEnum.Ascending))">@ViewBag.ColumnDisplayName</a>
}
else
{
	<a href="/products?searchBy=@ViewBag.CurrentSearchBy&searchString=@ViewBag.CurrentSearchString&sortBy=@(ViewBag.ColumnName)&sortOrder=@(nameof(SortOrderEnum.Ascending))">@ViewBag.ColumnDisplayName</a>
}